.header {
  background: url(../img/destaque.jpeg) no-repeat;
  /* background-image: url(../img/destaque.jpeg);
  background-repeat: no-repeat; */
  background-size: cover;
}

.header .main-menu {
  text-align: center;
}

.header .main-menu .menu-item {
  display: inline-block;
  margin:2rem .125rem 2rem 0;
}

.header .main-menu .menu-item a:hover {
  background-color: #48A3A6;
}

.header .main-menu .menu-item a {
  color: white;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1rem;
  border-radius: .4rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: .7s ease-in-out;
}

.header .jumbotron {
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 2.75rem;
}

.header .painel {
  text-shadow: 4px 3px 5px #000;
  color: #fff;
}

.header .painel .painel-titulo {
  font-size: 3em;
  margin-bottom: .5rem;
}

.header .painel .painel-subtitulo {
  font-size: 2.5em;
  color: #64ff64;
  margin-bottom: 1.8rem;
}

@media screen and (min-width: 768px) {
  .header .painel {
    font-size: 2rem;
  }

}
